* {
	margin: 0;
	padding: 0;
}

body {
	 background-image: linear-gradient(to right bottom, #53e557, #45dd62, #38d46c, #2fcb73, #2ac279);
}

footer {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	font-family: 'Roboto', sans-serif;
	color: #2d8534;
}

footer a {
	color: #2d8534;
	transition: 750ms color;
}

footer a:hover {
	color: #1c5938;	
}

.hidden {
	display: none !important;
}

#welcome-screen {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#welcome-screen div h1 {
	color: #f0fff0;
	font-size: 3.5rem;	
	font-style: italic;
	font-family: 'Fredoka One', cursive;
}

#welcome-screen div h2 {
	color: #b5f4ad;
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
}

#vidInfo {
	color: #99ef91;
	font-size: 1.75rem;
	font-family: 'Roboto', sans-serif;
	margin: 0.5rem 0 0 2rem;
}

#button-container {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 1rem;
	margin: auto;
}

#button-container button {
	display: block;
	margin: auto;
	margin-top: 10vh;
	border: 0.25rem #2d8534 solid;
	border-radius: 2.5rem;
	height: 5rem;
	padding: 1rem;
	font-size: 2rem;
	font-family: 'Fredoka One', cursive; 
	cursor: pointer;
	transition: 750ms color, 750ms background;
	background: #c7edca;
	color: #2d8534;
}

#button-container button:first-of-type {
	color: #c7edca;
	background: #2d8534;
}


#meme-button:hover {
	color: #c7edca;
	background: #2d8534;
}
